USE [master]
GO
/****** Object:  Database [changoiprovip]    Script Date: 5/30/2026 12:18:51 PM ******/
CREATE DATABASE [changoiprovip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'changoiprovip', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\changoiprovip.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'changoiprovip_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\changoiprovip_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [changoiprovip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [changoiprovip]
GO
/****** Object:  User [IIS APPPOOL\hungdev]    Script Date: 5/30/2026 12:18:52 PM ******/
CREATE USER [IIS APPPOOL\hungdev] FOR LOGIN [IIS APPPOOL\hungdev] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [IIS APPPOOL\hungdev]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [IIS APPPOOL\hungdev]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[mabl] [int] IDENTITY(1,1) NOT NULL,
	[masp] [int] NULL,
	[taikhoan] [nvarchar](30) NULL,
	[noidung] [nvarchar](max) NULL,
	[stt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mabl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[madh] [int] NULL,
	[masp] [int] NULL,
	[soluong] [int] NULL,
	[stt] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[magh] [int] NULL,
	[masp] [int] NULL,
	[soluong] [int] NULL,
	[stt] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[madm] [int] IDENTITY(1,1) NOT NULL,
	[tendm] [nvarchar](30) NOT NULL,
	[stt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[madm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[madh] [int] IDENTITY(1,1) NOT NULL,
	[taikhoan] [nvarchar](30) NULL,
	[diachi] [nvarchar](max) NOT NULL,
	[ngaydat] [datetime] NULL,
	[trangthai] [nvarchar](20) NULL,
	[stt] [int] NULL,
	[sdt] [nvarchar](max) NULL,
	[hoten] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[madh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[magh] [int] IDENTITY(1,1) NOT NULL,
	[taikhoan] [nvarchar](30) NULL,
	[stt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[magh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[taikhoan] [nvarchar](30) NOT NULL,
	[matkhau] [nvarchar](20) NOT NULL,
	[quyen] [int] NOT NULL,
	[stt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[taikhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[masp] [int] IDENTITY(1,1) NOT NULL,
	[madm] [int] NULL,
	[tensp] [nvarchar](30) NOT NULL,
	[gia] [float] NOT NULL,
	[mota] [nvarchar](max) NULL,
	[stt] [int] NULL,
	[anh] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamBienThe]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamBienThe](
	[mabienthe] [int] IDENTITY(1,1) NOT NULL,
	[masp] [int] NOT NULL,
	[kichthuoc] [nvarchar](50) NULL,
	[mausac] [nvarchar](50) NULL,
	[chatlieu] [nvarchar](100) NULL,
	[doday] [nvarchar](50) NULL,
	[loairuot] [nvarchar](100) NULL,
	[giaban] [float] NOT NULL,
	[soluongton] [int] NOT NULL,
	[anh_bienthe] [nvarchar](500) NULL,
	[stt] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mabienthe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT ((0)) FOR [soluongton]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT ((1)) FOR [stt]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[SanPham] ([masp])
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([taikhoan])
REFERENCES [dbo].[NguoiDung] ([taikhoan])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([madh])
REFERENCES [dbo].[DonHang] ([madh])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[SanPham] ([masp])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([magh])
REFERENCES [dbo].[GioHang] ([magh])
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[SanPham] ([masp])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([taikhoan])
REFERENCES [dbo].[NguoiDung] ([taikhoan])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([taikhoan])
REFERENCES [dbo].[NguoiDung] ([taikhoan])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([madm])
REFERENCES [dbo].[DanhMuc] ([madm])
GO
/****** Object:  StoredProcedure [dbo].[GiamChiTietGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GiamChiTietGioHang]
    @magh INT,
    @masp INT
AS
BEGIN
    UPDATE ChiTietGioHang
    SET soluong -= 1
    WHERE magh = @magh AND masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[LayBinhLuan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayBinhLuan]
AS
BEGIN
    SELECT * FROM BinhLuan
END;
GO
/****** Object:  StoredProcedure [dbo].[LayBinhLuanTheoSanPham]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayBinhLuanTheoSanPham]
    @masp INT
AS
BEGIN
    SELECT * FROM BinhLuan
    WHERE masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[LayBinhLuanTheoTaiKhoan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayBinhLuanTheoTaiKhoan]
    @taikhoan NVARCHAR(30)
AS
BEGIN
    SELECT * FROM BinhLuan
    WHERE taikhoan = @taikhoan
END;
GO
/****** Object:  StoredProcedure [dbo].[LayChiTietDonHangTheoMaDH]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LayChiTietDonHangTheoMaDH]
    @madh INT
AS
BEGIN
    SELECT * FROM ChiTietDonHang
    WHERE madh = @madh
END;
GO
/****** Object:  StoredProcedure [dbo].[LayChiTietGioHangTheoMaGH]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayChiTietGioHangTheoMaGH]
    @magh INT
AS
BEGIN
    SELECT * FROM ChiTietGioHang
    WHERE magh = @magh
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDanhMucTheoMa]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDanhMucTheoMa]
    @madm INT
AS
BEGIN
    SELECT * FROM DanhMuc
    WHERE madm = @madm
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDonHangTheoTaiKhoan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDonHangTheoTaiKhoan]
    @taikhoan NVARCHAR(30)
AS
BEGIN
    SELECT * FROM DonHang
    WHERE taikhoan = @taikhoan
END;
GO
/****** Object:  StoredProcedure [dbo].[LayDonHangTheoTrangThai]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayDonHangTheoTrangThai]
    @trangthai INT
AS
BEGIN
    SELECT * FROM DonHang
    WHERE trangthai = @trangthai
END;
GO
/****** Object:  StoredProcedure [dbo].[LayGioHangTheoMa]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayGioHangTheoMa]
    @magh INT
AS
BEGIN
    SELECT * FROM GioHang
    WHERE magh = @magh
END;
GO
/****** Object:  StoredProcedure [dbo].[LayGioHangTheoTaiKhoan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayGioHangTheoTaiKhoan]
    @taikhoan NVARCHAR(30)
AS
BEGIN
    SELECT * FROM GioHang
    WHERE taikhoan = @taikhoan
END;
GO
/****** Object:  StoredProcedure [dbo].[LayNguoiDungTheoTaiKhoan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayNguoiDungTheoTaiKhoan]
    @taikhoan NVARCHAR(30)
AS
BEGIN
    SELECT * FROM NguoiDung
    WHERE taikhoan = @taikhoan
END;
GO
/****** Object:  StoredProcedure [dbo].[LaySanPhamBienTheTheoMa]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LaySanPhamBienTheTheoMa]
    @mabienthe INT
AS
BEGIN
    SELECT *
    FROM SanPhamBienThe
    WHERE mabienthe = @mabienthe
    AND stt = 1
END
GO
/****** Object:  StoredProcedure [dbo].[LaySanPhamDanhMuc]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LaySanPhamDanhMuc]
    @MaDanhMuc INT
AS
BEGIN
    SELECT*FROM SanPham
	WHERE madm = @MaDanhMuc
END
GO
/****** Object:  StoredProcedure [dbo].[LaySanPhamTheoMa]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LaySanPhamTheoMa]
    @masp INT
AS
BEGIN
    SELECT * FROM SanPham
    WHERE masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaBinhLuan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaBinhLuan]
AS
BEGIN
    SELECT * FROM BinhLuan
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaChiTietDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaChiTietDonHang]
AS
BEGIN
    SELECT * FROM ChiTietDonHang
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaChiTietGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaChiTietGioHang]
AS
BEGIN
    SELECT * FROM ChiTietGioHang
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaDanhMuc]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaDanhMuc]
AS
BEGIN
    SELECT * FROM DanhMuc
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaDonHang]
AS
BEGIN
    SELECT * FROM DonHang
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaGioHang]
AS
BEGIN
    SELECT * FROM GioHang
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaNguoiDung]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaNguoiDung]
AS
BEGIN
    SELECT * FROM NguoiDung
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaSanPham]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaSanPham]
AS
BEGIN
    SELECT * FROM SanPham
END;
GO
/****** Object:  StoredProcedure [dbo].[LayTatCaSanPhamBienThe]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayTatCaSanPhamBienThe]
AS
BEGIN
    SELECT *
    FROM SanPhamBienThe
    WHERE stt = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanPhamBienThe]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemSanPhamBienThe]
    @masp INT,
    @kichthuoc NVARCHAR(50),
    @mausac NVARCHAR(50),
    @chatlieu NVARCHAR(100),
    @doday NVARCHAR(50),
    @loairuot NVARCHAR(100),
    @giaban FLOAT,
    @soluongton INT,
    @anh_bienthe NVARCHAR(500)
AS
BEGIN
    INSERT INTO SanPhamBienThe
    (
        masp,
        kichthuoc,
        mausac,
        chatlieu,
        doday,
        loairuot,
        giaban,
        soluongton,
        anh_bienthe,
        stt
    )
    VALUES
    (
        @masp,
        @kichthuoc,
        @mausac,
        @chatlieu,
        @doday,
        @loairuot,
        @giaban,
        @soluongton,
        @anh_bienthe,
        1
    )
END
GO
/****** Object:  StoredProcedure [dbo].[SuaBinhLuan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaBinhLuan]
    @mabl INT,
    @noidung NVARCHAR(MAX)
AS
BEGIN
    UPDATE BinhLuan
    SET noidung = @noidung
    WHERE mabl = @mabl
END;
GO
/****** Object:  StoredProcedure [dbo].[SuaDanhMuc]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaDanhMuc]
    @madm INT,
    @tendm NVARCHAR(30)
AS
BEGIN
    UPDATE DanhMuc
    SET tendm = @tendm
    WHERE madm = @madm
END;
GO
/****** Object:  StoredProcedure [dbo].[SuaNguoiDung]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaNguoiDung]
    @taikhoan NVARCHAR(30),
    @matkhau NVARCHAR(20)
AS
BEGIN
    UPDATE NguoiDung
    SET matkhau = @matkhau
    WHERE taikhoan = @taikhoan
END;
GO
/****** Object:  StoredProcedure [dbo].[SuaSanPham]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaSanPham]
    @masp INT,
    @madm INT,
    @tensp NVARCHAR(30),
    @gia FLOAT,
    @anh NVARCHAR(MAX),
    @mota NVARCHAR(MAX)
AS
BEGIN
    UPDATE SanPham
    SET madm = @madm,
        tensp = @tensp,
        gia = @gia,
        anh = @anh,
        mota = @mota
    WHERE masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[SuaSanPhamBienThe]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaSanPhamBienThe]
    @mabienthe INT,
    @kichthuoc NVARCHAR(50),
    @mausac NVARCHAR(50),
    @chatlieu NVARCHAR(100),
    @doday NVARCHAR(50),
    @loairuot NVARCHAR(100),
    @giaban FLOAT,
    @soluongton INT,
    @anh_bienthe NVARCHAR(500)
AS
BEGIN
    UPDATE SanPhamBienThe
    SET
        kichthuoc = @kichthuoc,
        mausac = @mausac,
        chatlieu = @chatlieu,
        doday = @doday,
        loairuot = @loairuot,
        giaban = @giaban,
        soluongton = @soluongton,
        anh_bienthe = @anh_bienthe
    WHERE mabienthe = @mabienthe
END






GO
/****** Object:  StoredProcedure [dbo].[SuaThongTinDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaThongTinDonHang]
    @madh INT,
    @diachi NVARCHAR(max),
	@sdt NVARCHAR(max),
	@hoten NVARCHAR(max)
AS
BEGIN
    UPDATE DonHang
    SET 
        diachi = @diachi,
		sdt = @sdt,
		hoten = @hoten
    WHERE madh = @madh
END;
GO
/****** Object:  StoredProcedure [dbo].[SuaTrangThaiDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SuaTrangThaiDonHang]
    @madh INT,
    @trangthai NVARCHAR(20)
AS
BEGIN
    UPDATE DonHang
    SET 
        trangthai = @trangthai
    WHERE madh = @madh
END;
GO
/****** Object:  StoredProcedure [dbo].[TangChiTietGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TangChiTietGioHang]
    @magh INT,
    @masp INT
AS
BEGIN
    UPDATE ChiTietGioHang
    SET soluong += 1
    WHERE magh = @magh AND masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemBinhLuan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemBinhLuan]
    @masp INT,
    @taikhoan NVARCHAR(30),
    @noidung NVARCHAR(MAX),
    @stt INT = NULL
AS
BEGIN
    INSERT INTO BinhLuan (masp, taikhoan, noidung, stt)
    VALUES (@masp, @taikhoan, @noidung, @stt)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemChiTietDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemChiTietDonHang]
    @madh INT,
    @masp INT,
    @soluong INT,
    @stt INT = 1
AS
BEGIN
    INSERT INTO ChiTietDonHang (madh, masp, soluong, stt)
    VALUES (@madh, @masp, @soluong, @stt)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemChiTietGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemChiTietGioHang]
    @magh INT,
    @masp INT,
    @soluong INT = 1,
    @stt INT = 1
AS
BEGIN
    INSERT INTO ChiTietGioHang (magh, masp, soluong, stt)
    VALUES (@magh, @masp, @soluong, @stt)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemDanhMuc]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemDanhMuc]
    @tendm NVARCHAR(30),
    @stt INT = 1
AS
BEGIN
    INSERT INTO DanhMuc (tendm, stt)
    VALUES (@tendm, @stt)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemDonHang]
    @taikhoan NVARCHAR(30),
    @diachi NVARCHAR(MAX),
    @ngaydat DATETIME,
    @trangthai NVARCHAR(20) = N'Chờ xác nhận',
    @sdt NVARCHAR(MAX),
    @hoten NVARCHAR(MAX),
    @stt INT = 1
AS
BEGIN
    SET NOCOUNT OFF; -- Đảm bảo trả về giá trị IDENTITY

    INSERT INTO DonHang (taikhoan, diachi, ngaydat, trangthai, sdt, hoten, stt)
    VALUES (@taikhoan, @diachi, @ngaydat, @trangthai, @sdt, @hoten, @stt)

    -- Trả về mã đơn hàng vừa tạo
    SELECT SCOPE_IDENTITY() AS MaDonHang;
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemGioHang]
    @taikhoan NVARCHAR(30),
	@stt int = 1
AS
BEGIN
    INSERT INTO GioHang (taikhoan,stt)
    VALUES (@taikhoan,@stt)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemNguoiDung]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemNguoiDung]
    @taikhoan NVARCHAR(30),
    @matkhau NVARCHAR(20),
    @quyen INT = 1,
    @stt INT = 1
AS
BEGIN
    INSERT INTO NguoiDung (taikhoan, matkhau, quyen, stt)
    VALUES (@taikhoan, @matkhau, @quyen, @stt)
END;
GO
/****** Object:  StoredProcedure [dbo].[ThemSanPham]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThemSanPham]
    @madm INT,
    @tensp NVARCHAR(30),
    @gia FLOAT,
    @anh NVARCHAR(MAX),
    @mota NVARCHAR(MAX),
    @stt INT = 1
AS
BEGIN
    INSERT INTO SanPham (madm, tensp, gia, anh, mota, stt)
    VALUES (@madm, @tensp, @gia, @anh, @mota, @stt)
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaBinhLuan]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaBinhLuan]
    @mabl INT
AS
BEGIN
    UPDATE BinhLuan
	SET stt = 0
    WHERE mabl = @mabl
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaChiTietDonHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaChiTietDonHang]
    @madh INT,
    @masp INT
AS
BEGIN
    UPDATE ChiTietDonHang
	SET stt = 0
    WHERE madh = @madh AND masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaChiTietGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaChiTietGioHang]
    @magh INT,
    @masp INT
AS
BEGIN
    UPDATE ChiTietGioHang
	SET stt = 0
    WHERE magh = @magh AND masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaDanhMuc]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaDanhMuc]
    @madm INT
AS
BEGIN
    UPDATE DanhMuc
    SET stt = 0
	WHERE madm = @madm
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaGioHang]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaGioHang]
    @magh INT
AS
BEGIN
    UPDATE GioHang
    SET stt = 0
	WHERE magh = @magh
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaNguoiDung]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaNguoiDung]
    @taikhoan NVARCHAR(30)
AS
BEGIN
    UPDATE NguoiDung
    SET stt = 0
	WHERE taikhoan = @taikhoan
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaSanPham]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaSanPham]
    @masp INT
AS
BEGIN
    UPDATE SanPham
    SET stt = 0
	WHERE masp = @masp
END;
GO
/****** Object:  StoredProcedure [dbo].[XoaSanPhamBienThe]    Script Date: 5/30/2026 12:18:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaSanPhamBienThe]
    @mabienthe INT
AS
BEGIN
    UPDATE SanPhamBienThe
    SET stt = 0
    WHERE mabienthe = @mabienthe
END
GO
USE [master]
GO
